body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.light {
  background-color: #ffffff;
  color: #000000;
}
.dark {
  background-color: #121212;
  color: #ffffff;
}

button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  cursor: pointer;
}
