
body, html, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.app-container.light {
  background-color: #ffffff;
  color: #000000;
}

.app-container.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid currentColor;
  border-radius: 8px;
} 
button:hover{
  color:white;
  background-color: black;
}
