/* .app {
  padding: 20px;
  transition: background-color 0.3s ease;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 15px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.light {
  background-color: #f0f0f0;
  color: #000;
}
.dark {
  background-color: #333;
  color: #fff;
} */
